.button {
  padding: 12px 24px;
  border: none;
  background: #0ec3a3;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;

  font-size: 0.87rem;
  line-height: 19px;
  letter-spacing: 1.5px;

  svg{
    margin-right: 5px;
  }

  &:hover{
    background-color: #069293;
  }
}
