@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #FFF;
  color: #474f63;
  font-family: 'Red Hat Display', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #E4E7EC;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 10px;
  background: #E4E7EC; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #0EC3A3;
  width: 8px;
  border-radius: 5px;
}