.header {
  display: flex;
  min-width: 100%;
  gap: 30px;
  padding: 18px 0;
  align-items: center;
  border-bottom: 1px solid #ced4de;

  @media screen and (max-width: 635px) {
    padding: 0 0 7px 0;
    margin-left: 1rem;
    gap: 1rem;
  }

  .header_title {
    color: #b3b9c9;
    font-weight: 500;
    font-size: 1.87rem;
    margin-right: auto;

    @media screen and (max-width: 635px) {
      margin-top: 0.8rem;
      font-size: 1.1rem;
    }
  }

  .header_info {
    color: #6e778d;

    > strong {
      color: #0ec3a3;
      margin-right: 5px;
    }
  }

  .header_notifications,
  .arrow_header,
  .header_back {
    cursor: pointer;
  }

  .arrow_header {
    margin-left: -1.7rem;

    path {
      stroke: #b3b9c9;
    }
  }
}
