.sidebar_mobile{
  display: none;

  @media screen and (max-width: 635px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: 44px;
    width: 44px;
    background: linear-gradient(0deg, #0EA4C2 0%, #13CFB9 100%);
  }
}
